<div style="width: 75vw">

  <div class="d-flex align-items-center justify-content-between">

    <div class="d-flex flex-grow-1 w-100">
      <app-text-input [ngStyle]="{'width':'95%'}" [formControl]="searchControl"
                      label="search in email and accessLevel"></app-text-input>
    </div>

    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" [disabled]="selection.isEmpty()">
      actions
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="handleDisableUsers()">
        <span>disable users</span>
      </button>
      <button mat-menu-item (click)="handleEnableUsers()">
        <span>enable users</span>
      </button>
      <button mat-menu-item (click)="handleDeleteUsers()">
        <span>delete users</span>
      </button>
    </mat-menu>

    <button mat-raised-button color="accent" (click)="handleAddUsers()" class="ms-2">
      add users
    </button>

    <mat-form-field class="example-form-field">
      <mat-label>First campaign</mat-label>
      <mat-date-range-input
        [formGroup]="dateRangePicker"
        [rangePicker]="picker">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>


  </div>

  <table mat-table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef> isActive</th>
      <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>

    <ng-container matColumnDef="accessLevel">
      <th mat-header-cell *matHeaderCellDef> accessLevel</th>
      <td mat-cell *matCellDef="let element"> {{element.accessLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>createdAt</th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> action</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon color="primary" matTooltip="edit user" (click)="handleEditUser(element)">edit</mat-icon>
        <mat-icon color="warn" matTooltip="delete user" (click)="handleDeleteUser(element)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
        No data matching found
      </td>
    </tr>


  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

