<mat-form-field class="w-100">
  <mat-label>{{label}}</mat-label>
  <input
    #input
    matInput type="text"
    autocomplete="off"
    [errorStateMatcher]="errorMatcher()"
    [maxlength]="maxLength"
    (input)="onChanged($event)"
    (blur)="touched()"
    [(ngModel)]="value">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
    <mat-icon color="warn">close</mat-icon>
  </button>
</mat-form-field>
<app-field-errors [formField]="control"></app-field-errors>
